@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Thank you, Your Event Details:</h1>
<p></p>
<p><b>Event Name: </b>@Model.Name</p>
<p><b>Event Location: </b>@Model.Location</p>
<p><b>Event Time: </b>@Model.Time</p>
<p><b>Event Date: </b>@Model.Date</p>
<p><b>Event Type: </b>@Model.Category</p>