@using EventApplication.ViewModels
@{
    ViewData["Title"] = "Event Recomended";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string[] TableHeaders = new string[]
            {
              "Name",
              "Location",
              "Time",
              "Date",
              "Status",
              "Category"
            };
}
<<<<<<< HEAD
<div class="container mt-5">
    <div class="row justify-content-center align-align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
        </div>
    </div>
</div>
=======

>>>>>>> 9467bb0da9d8ad7ad6d14f960c42042c046bc05e
<div class = "table row justify-content-center align-align-items-center ">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                        foreach(var head in TableHeaders)
                        {
                    <th>
                        @head
                    </th>
                        }
                }
            </tr>
        </thead>
<<<<<<< HEAD
        @{
            if (Model != null)
            {
                foreach(var Data in Model)
                {
                    <tr>
                        <td>@Data.Name</td>
                        <td>@Data.Location</td>
                        <td>@Data.Time</td>
                        <td>@Data.Date</td>
                        <td>@Data.Status</td>
                        <td>@Data.Category</td>
                    </tr>
                }
=======

        <tbody>
            @{
            if (Model != null){
                foreach (var Data in Model){
                <tr>    
                    <td>@Data.Name</td>
                    <td>@Data.Location</td>
                    <td>@Data.Time</td>
                    <td>@Data.Date</td>
                    <td>@Data.Status</td>
                    <td>@Data.Category</td>

                </tr>
                }
            }



>>>>>>> 0a548852671463c4f5a0b78f49755bbe626d663c
            }
        </tbody>

    </table>
</div>



